@using PagedList.Mvc
@using PagedList;
@model IPagedList<WebFilm.Models.Movie>


@{
    ViewBag.Title = "CategoryPage";
    var cate = (WebFilm.Models.Category)ViewBag.cate;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="movie-browse-agile">
    <div class="browse-agile-w3ls general-w3ls">
        <div class="tittle-head" style="margin-top:50px">
            <h4 class="latest-text">Phim @cate.NameCategory </h4>
            <div class="container">
                <div class="agileits-single-top">
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active"><a href="/theloai/@cate.CategoryID">PHIM @cate.NameCategory</a></li>
                    </ol>
                </div>
            </div>
        </div>
       
        <div class="container">
            <div class="browse-inner">
                @foreach (var s in Model)
                {
                    <div class="col-md-2 w3l-movie-gride-agile">
                       <a href="/Movies1/Details/@s.MovieID" class="hvr-shutter-out-horizontal">
                           @if (System.IO.File.Exists(Server.MapPath("~/Content/images/" + s.Image)))
                           {<img src="~/Content/images/@s.Image" title="album-name" alt="@s.Name" style="max-width:100%; max-height:100%;" /> }
                           else
                           { <img src="@Url.Content("~/Images/" + s.Image)" title="album-name" class="img-responsive" alt="@s.Name" />} <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                       </a>
                        <div class="mid-1">
                            <div class="w3l-movie-text">
                                <h6><a href="/Movies/Details/@s.MovieID">@s.Name</a></h6>
                            </div>
                            <div class="mid-2">

                                <p>@s.Year</p>
                                <div class="block-stars">
                                    <ul class="w3l-ratings">
                                        <h5 style="font-size:12px;font-weight:bold;background-color:#E3B71E;border-radius:3px;padding:3px;"> Điểm IMDb: @s.Rate</h5>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                }
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    @*Phân trang dữ liệu*@
    <div style="text-align:center">
        <ul>
            <li>
                @Html.PagedListPager(Model, Page => Url.Action("CategoryPage", new { Page }), PagedListRenderOptions.PageNumbersOnly)
            </li>
        </ul>

    </div>
</div>